# dependencies
# Ignore all node_modules folders in the project
**/node_modules

# production
# Ignore all build and dist folders across the project
**/build
**/dist

# environment
*.env
!.env.example

# development
**/tmp
**/temp

# logs
**/logs

# database files create by commands
# /backend/src/db/postgresql/migrations

# temporary storage
/backend/server/uploadStorage

# logs
/backend/server/logs