
services:
  aiinterview-server:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: aiinterview-server
    networks:
      - aiinterview-backend-proxy
      - proxy
    ports: [4000:4000] # disable in production
    env_file: .env
    entrypoint: ['/app/wait-for.sh', 'aiinterview-postgres:5432', '--', '/app/start.sh']
    command: [ 'node', 'dist/index.js']

networks:
  aiinterview-backend-proxy:
    external: true
  proxy:
    external: true
